# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Data
data-raw/shp_qc/
data-raw/LPR2020data_public.csv

# To-do list
todo.txt

# RStudio
.Rproj.user
tableauproto.Rproj

# Datasets, draft scripts, and rlpi outputs
data-raw/valid.csv
atlas_draft.R
data/rlpi/default_infile_infile.txt
data/rlpi/default_infile_infile_dtemp_array.txt
data/rlpi/default_infile_infile_dtemp_array_named.csv
data/rlpi/default_infile_infile_Results.txt
data/rlpi/default_infile_pops.txt
data/rlpi/default_infile_pops_dtemp.csv
data/rlpi/default_infile_pops_lambda.csv
data/rlpi/default_infile_pops_Lambda.txt
data/rlpi/default_infile_pops_Minmax.txt
data/rlpi/lpi_temp/
