@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

#closebtn{
  float:right;
  padding:5px;
  text-decoration:none;
  font-size:16px;
  font-weight:bold;
}

#closebtn-div{
  width:100%;
  height:20px;
  display:block;
}

.blue-badge{
  background-color:#2571bb;
  color:white;
  padding:12px;
  border-radius:7px;
  margin:20px 5px 20px 20px;
}

.logo{
  height:auto;
  display:block;
  float:left;
  padding:5px 10px;
}

.dash-title{
  float:left;
  font-family:"Martel";
  margin-top:25px;
  font-size:20px;
  font-weight:800;
  
}

.left-header{
  position: relative;
  height:80px;
  width:450px;
  background-color: #ffffffdd;
  margin:10px auto;
  border-radius:8px;
}

.left-header img{
  height:70px;
}

.widget-div{
  padding:10px;
  border-radius:7px;
  border:1px solid #ececec;
  margin:5px;
}

.top-header{
  background: rgb(64,174,78);
  background: linear-gradient(90deg, rgba(64,174,78,1) 14%, rgba(37,113,187,1) 99%);
  height:90px;
}

